body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
  background-image: url('header-background.jpg');
  min-height: 100%;
  background-position: center;
  background-size: cover;
}

h1{
  height: 500px;
  color:rgb(228, 231, 40);
}

.w3-row-padding img {margin-bottom: 12px}

#footer{
    position: absolute;
 
  top: 50%;
  width: 100%;

  text-align: center;
  
}

p{
    position: absolute;
    color:rgb(228, 231, 40);
    top: 15%;
    width: 100%;
    
  
   text-align: center;

}